<div id="sidebar">
  <h1 style="font-size: 21px;">Hassan ElDesouky</h1>
  <p>Computer Science Student and an Apple Developer</p>

  {% include instapipe.html %}

  <p><a href="/about">More about me</a></p>

  <!-- Social links -->
  <ul class="social-media-list" style="margin-top: 20px; margin-bottom: 30px;">
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    <li>
      {% include icon-linkedin.html %}
    </li>
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    <li>
      {% include icon-instagram.html %}
    </li>
  </ul>

  {% include newsletter.html %}

  <hr />

  {% twitter https://twitter.com/hassanedesouky maxwidth=500 limit=5 %}

</div>
